:root{
    --color:#b01eff;
    --bg:#efefef;
}
body{
    background-color: var(--bg);
}
.box1{
    width: 200px;
    height: 200px;
    background-color: var(--color);
}
.box2{
    width: 200px;
    height: 200px;
    background-color: var(--color);
    border-radius: 50%;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: var(--color);
    transform: rotate(45deg);
}